# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/
Assignment2.iml
/channelpopularity/src/BUILD/
/out/
/channelpopularity/src/BUILD
